<!-- <h1>Directives and Pipes</h1>

<h3>Directives</h3>
<p>Components are directives with template</p>

<label>Types of Directives</label>
<ul>
  <li>Component Directives are just Components</li>
  <li>Structural Directives - ngIf, ngFor, ngSwitch</li>
  <li>Attribute Directives - ngModel, ngclass, ngStyle</li>

  <li>Custom Directives</li>
</ul>

<div *ngIf="isShow">
  <div>display ngIf</div>
</div>

<div *ngFor="let item of arr; let i = index">
  <ul>
    <li>{{i}}: {{item}}</li>
  </ul>
</div> -->

<!-- <app-task-list></app-task-list> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-parent></app-parent> -->
<!-- <hr> -->
<!-- <app-siblings></app-siblings> -->

<!-- <app-form-control></app-form-control> -->

<app-register></app-register>